<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>@ViewBag.Title</title>

    <!-- Bootstrap core CSS -->
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/site.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="no-skin">
    <div id="nav" class="nav navbar-default">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Novel</a>
        </div>
    </div>
    <div id="container" class="container-fluid">
        <div class="row">
            <div id="sidebar" class="sidebar col-sm-3 col-md-2">
                <ul class="nav">
                    <li>
                        <a href="#">小说管理</a>
                        <ul>
                            <li>
                                <a href="#">小说列表</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div></div>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
                <div id="main-content" class="row">
                    @RenderBody()
                </div>
                <div id="footer" class="row footer">
                    <div class="footer-content">
                        <span>小说管理</span> &copy;2016-2021 
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</body>
</html>
